* {
    background-color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}

.test-result {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5% 1%;
    padding: 1% 2.5%;
}

.test-result ul {
    list-style-type: none;
    background-color: inherit;
}

.test-result h2, li, em {
    background-color: inherit;
}